<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ThingSpecification -->
      <package
            uri="http://yetu.com/models/ThingSpecification"
            class="com.yetu.abstraction.spec.SpecPackage"
            genModel="model/ThingSpecification.genmodel"/>
   </extension>

</plugin>
